<form novalidate="" role="form" class="form-horizontal" id="addAdminForm">
    <div class="form-group message">
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">账号：</label>
        <div class="col-md-10">
            <input type="text" required="" placeholder="xxx@qq.com" id="username" class="form-control" name="username">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">密码：</label>
        <div class="col-md-10">
            <input type="password" required="" placeholder="" id="password" class="form-control" name="password">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">重复密码：</label>
        <div class="col-md-10">
            <input type="password" required="" placeholder="" id="repassword" class="form-control" name="repassword">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-info" type="submit">Submit</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    var uname,pwd,repwd;
    $("#addAdminForm").submit(function(){
        uname = $("#username").val();
        pwd = $("#password").val();
        repwd = $("#repassword").val();
        if(!$.vaildate.isEmpty(uname)){
            $.alt({
                type: "warning",
                msg: "邮箱不能为空",
                el: ".message"
            });
            $("#username").focus();
            return false;
        }
        if(!$.vaildate.isEmpty(pwd)){
           $.alt({
                type: "warning",
                msg: "密码不能为空",
                el: ".message"
                });
            $("#password").focus();
            return false;
        }
        if(!$.vaildate.isEmail(uname) || !$.vaildate.isWord(pwd)){
            $.alt({
                type: "warning",
                msg: "账号或密码格式不正确",
                el: ".message"
            });
            return false;
        }
        if(pwd != repwd){
             $.alt({
                type: "warning",
                msg: "密码输入不一致",
                el: ".message"
            });
            return false;
        }
        $(".circle").show();
        var data = {username: uname, password: pwd};
        $._ajax({
            url: "/admin/addadmin",
            type: "post",
            data: data
        }).done(function(data){
            if(data.success){
                $._ajax({
                    url: "/admin/admin",
                    dataType: "html"
                 }).done(function(html){
                    $("#ajaxPanel").html(html);
                 });
            }else{
                $.alt({
                    type: "danger",
                    msg: "添加失败",
                    el: ".message"
                });
            }
        }).always(function(){
            $(".circle").hide();
        });
        return false;
    });
</script>