<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>图片</th>
            <th>商品名称</th>
            <th>价格</th>
            <th>类型</th>
            <th>库存</th>
            <th>添加人</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <%goods.map(function(good){%>
        <tr>
            <td>
                <input type="checkbox" value="<%=good.id%>">
            </td>
            <td><a href="/img/goods/<%= good.img%>" target="_blank"><%= good.img%></a></td>
            <td><%= good.gname%></td>
            <td><%= good.price%></td>
            <td><%= good.typename%></td>
            <td><%= good.strock%></td>
            <td><%= good.admin%></td>
            <td>
                <a href="#/delgoods/<%=good.id%>"><span class="glyphicon glyphicon-trash"></span></a>
                <a href="#/addGoodsPage/<%=good.id%>"><span class="glyphicon glyphicon-plus"></span></a>
            </td>            
        </tr>
        <%})%>
    </tbody>
</table>
<div class="btn-group">
    <a href="" class="btn" id="delSelected"><span class="glyphicon glyphicon-trash"></span></a>
    <a href="#/addGoodsPage/-1" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
</div>