<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>电影一览</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/common.css" />
	<link rel="stylesheet" type="text/css" href="/css/modal.css" />
	<link rel="stylesheet" type="text/css" href="/css/detail-news.css" />

	<script src="/js/jquery-1.12.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/bootstrap-hover-dropdown.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/js.cookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/message.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/list.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<nav class="sidebar">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="/index.html"><i class="glyphicon glyphicon-home"></i></a></li>
			<li><a href="/trailer.html"><i class="glyphicon glyphicon-film"></i></a></li>
			<li><a href="/list.html"><i class="glyphicon glyphicon-th-list"></i></a></li>
			<li><a href="/news.html"><i class="glyphicon glyphicon-list-alt"></i></a></li>
			<li><a href="/info.html"><i class="glyphicon glyphicon-user"></i></a></li>
			<li><a href="" data-toggle="modal" data-target="#searchModal"><i class="glyphicon glyphicon-search"></i></a></li>
		</ul>
	</nav>
	<div class="main">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<span class="navbar-brand">Movie Info</span>
					<a href="/info.html" class="navbar-text" id="user"></a><a href='/user/logout' class='navbar-text' id='logout' style="display:none;">登出</a>
				</div>
				
			</div>
		</nav>
		<!--模态框开始-->
		<div class="modal fade" id="searchModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<form class="" role="search" action="/searchresult.html" id="searchForm">
						<div class="input-group">
							<input type="text" class="form-control" name="keyword" id="keyword" placeholder="Search for...">
							<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Go!</button>
						</span>
						</div>
					</form>
					</div>
				</div>
			</div>
		</div>
		<!--模态框结束-->
		<div class="row list-content">

			<div class="col-xs-12 col-md-9">
				<h2 class="new-title text-center">
					<%=detail_new.title%>
				</h2>
				<p class="new-content">
					<%-detail_new.main%>
				</p>
			</div>
			<div class="col-xs-12 col-md-3">
				<ul class="list-group may-like">
					<li class="list-group-item may-like-title">
						<h3>你可能会喜欢</h3>
					</li>
				</ul>
				<ul class="list-group article-list">
					<li class="list-group-item article-list-title">
						文章
					</li>
				</ul>
			</div>
		</div>
		<div class="footer">
			<div class="footer-header">
				<div class="skew">
				</div>
			</div>
			<div class="row footer-body">
				<div class="col-xs-12 col-sm-4 website-des">
					<p>本网站致力于分享</p>
					<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
				</div>
				<div class="col-xs-12 col-sm-4 col-sm-offset-2 contact">
					<h4>联系我们</h4>
					<address>
						<strong>地址：</strong>加悦大厦&nbsp;&nbsp;龙口大厦<br>
						<strong>电话：</strong>(123) 456-7890
					</address>
				</div>
			</div>
		</div>
	</div>
</body>

</html>