<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>预告片一览</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<link rel="stylesheet" type="text/css" href="css/modal.css" />
	<link rel="stylesheet" type="text/css" href="css/trailer.css" />
	<script src="js/jquery-1.12.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/bootstrap-hover-dropdown.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/trailer.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/js.cookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/common.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<nav class="sidebar">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="/index.html"><i class="glyphicon glyphicon-home"></i></a></li>
			<li><a href="/trailer.html"><i class="glyphicon glyphicon-film"></i></a></li>
			<li><a href="/list.html"><i class="glyphicon glyphicon-th-list"></i></a></li>
			<li><a href="/news.html"><i class="glyphicon glyphicon-list-alt"></i></a></li>
			<li><a href="/info.html"><i class="glyphicon glyphicon-user"></i></a></li>
			<li><a href="" data-toggle="modal" data-target="#searchModal"><i class="glyphicon glyphicon-search"></i></a></li>
		</ul>
	</nav>
	<!--模态框开始-->
	<div class="modal fade" id="searchModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<!--<button class="btn modal-close-btn" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>-->
				<div class="modal-body">
					<form class="" role="search" action="/searchresult.html" id="searchForm">
							<div class="input-group">
								<input type="text" class="form-control" name="keyword" id="keyword" placeholder="Search for...">
								<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Go!</button>
						</span>
							</div>
						</form>
				</div>
			</div>
		</div>
	</div>
	<!--模态框结束-->
	<div class="main">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<span class="navbar-brand">Movie Info</span>
					<a href="/info.html" class="navbar-text" id="user"></a><a href='/user/logout' class='navbar-text' id='logout' style="display:none;">登出</a>
				</div>
				
			</div>
		</nav>
		<div class="row trailer-list">
			<h2 class="trailer-title">预告片一览</h2>
			<div class="row">
				<%trailerMovies.map(function(trailerMovie){%>
					<div class="col-xs-12 col-sm-4 col-md-3">
						<div class="thumbnail">
							<div class="trailer-pic">
								<a href="http://www.bilibili.com/video/<%=trailerMovie.bilisource%>/" target="_blank" class="thumbnail-pic">
										<img src="img/<%=trailerMovie.trailerimg%>" class="thumb-pic1">
										<img src="img/<%=trailerMovie.slideimg1%>" class="thumb-pic2"/>
										<i class="glyphicon glyphicon-play-circle"></i>
									</a>
							</div>
							<div class="trailer-des">
								<div class="caption">
									<h4 class="text-center">
										<%=trailerMovie.name%>
									</h4>
									<a href="http://www.bilibili.com/video/<%=trailerMovie.bilisource%>/" target="_blank" class="btn btn-primary btn-block btn-watch-trailer">立刻观看</a>
								</div>
							</div>
						</div>
					</div>
					<%})%>
			</div>
		</div>
		<div class="footer">
			<div class="footer-header">
				<div class="skew">

				</div>
			</div>
			<div class="row footer-body">
				<div class="col-xs-12 col-sm-4 website-des">
					<p>It is a long established fact that a reader will be distracted by the readable content of a page.</p>
					<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
				</div>
				<div class="col-xs-12 col-sm-4 col-sm-offset-2 contact">
					<h4>联系我们</h4>
					<address>
						<strong>地址：</strong>加悦大厦&nbsp;&nbsp;龙口大厦<br>
						<strong>电话：</strong>(123) 456-7890
					</address>
				</div>
			</div>
		</div>
	</div>

</body>

</html>