@import 'common-var.less';
.form-horizontal .form-group {
	margin-right: 0;
	margin-left: 0;
}
.user-info {
	.user-info-title {
		padding-left: 30px;
		margin-bottom: 20px;
	}
	*[class*="col"] {
		padding-left: 0;
		padding-right: 0;
	}
}
.list-group-item {
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #ddd;
	margin: 0;
	&:last-child {
		border-bottom: none;
	}
}
.your-atricle-title{
	margin: 20px 0;
}
.your-atricle {
	&.well{
		background: none;
	}
	.list-group-item {
		border-radius: 0;
		border: none;
		border-bottom: 1px solid #ddd;
		position: relative;
		margin: 0;
		&>.badge{
			position: absolute;
			right: 15px;
			top: 10px;
		}
		&:last-child {
			border-bottom: none;
		}
	}
	
}
@media (min-width: 769px) and (max-width: 991px) {
	.user-info {
		padding: 0 10% 0 5%;
	}
	.your-atricle {
		margin-top: 0;
	}
}
@media (max-width: 768px) {
	.user-info {
		padding: 0 5%;
	}
	.your-atricle {
		margin-top: 0;
	}
}