p {
  word-wrap: break-word;
}
.list-content {
  padding-left: 20px;
}
.list-content .thumbnail {
  margin-bottom: 40px;
}
.list-content .thumbnail .post-pic {
  padding-left: 0;
}
.list-content .thumbnail .movie-des {
  padding-left: 0;
}
.list-content .thumbnail .movie-des .caption h3 {
  margin-top: 0;
}
.list-content .list-group .list-group-item {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  position: relative;
  margin: 0;
}
.list-content .list-group .list-group-item > .badge {
  position: absolute;
  right: 15px;
  top: 10px;
}
.list-content .list-group .list-group-item:last-child {
  border-bottom: none;
}
.list-content .may-like {
  margin-top: 73px;
  border-top: 3px solid black;
}
.list-content .may-like .list-group-item {
  overflow: hidden;
}
.list-content .may-like .list-group-item h3 {
  margin: 10px 0;
}
.list-content .may-like .list-group-item img {
  margin-right: 3px;
  float: left;
}
.list-content .may-like .list-group-item .item-des {
  width: 70%;
  float: left;
}
.list-content .may-like .list-group-item .item-des .item-title {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list-content .may-like .list-group-item .item-des p {
  margin: 0;
}
.list-content .may-like .may-like-title {
  border-bottom: none;
}
.list-content .article-list li:not(.article-list-title) {
  background: url("../img/article-arrow.png") no-repeat 0 center;
  font-size: 12.6px;
}
.list-content .article-list .article-list-title {
  background-color: #383838;
  color: white;
}
@media (max-width: 768px) {
  .movie-list .thumbnail .movie-des .caption h3 {
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  .may-like .list-group-item .item-des {
    width: auto;
  }
}
.thumb-pic2 {
  width: 100%;
}
hr {
  width: 100%;
  border-top: 3px solid #383838;
  margin: 5px 0 5px;
}
.movie-content {
  padding-left: 20px;
  margin-top: 30px;
}
.caption hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.movie-name {
  margin: 10px 0 20px;
}
.story .story-title {
  margin: 20px 0 5px;
}
.story .story-des {
  text-indent: 2em;
}
.movie-comment .movie-comment-title {
  display: inline-block;
}
.movie-comment .movie-comment-title span {
  font-size: 14px;
}
.movie-comment .comment-list .list-group-item {
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 0;
}
.movie-comment .comment-list .list-group-item:last-child {
  border: none;
}
.movie-comment .btn-comment {
  float: right;
  margin-top: 20px;
}
.may-like {
  border-top: 3px solid black;
}
.may-like .list-group-item {
  overflow: hidden;
}
.may-like .list-group-item h3 {
  margin: 10px 0;
}
.may-like .list-group-item img {
  margin-right: 3px;
  float: left;
}
.may-like .list-group-item .item-des {
  width: 70%;
  float: left;
}
.may-like .list-group-item .item-des .item-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.may-like .list-group-item .item-des p {
  margin: 0;
}
.may-like .may-like-title {
  border-bottom: none;
}
.article-list li:not(.article-list-title) {
  background: url("../img/article-arrow.png") no-repeat 0 center;
  font-size: 12.6px;
}
.article-list .article-list-title {
  background-color: #383838;
  color: white;
}
/*# sourceMappingURL=movie_detail.css.map */
